.schedule
{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin-left : auto;
	margin-right : auto;
}

.schedule_column
{
	width: 180px;
	text-align : left;
	float : left;
}

.period_block
{
	width: 180px;
	text-align: left;
	float: left;
}