.schedule_column
{
	width: 150px;
	text-align : left;
	float : left;
}

.schedule
{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin-left : auto;
	margin-right : auto;
}

.button
{
	float: 120px;
}