<%-- 
    Document   : Admin_ManageStudents
    Created on : Mar 24, 2015, 4:35:45 PM
    Author     : mo
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Manage Student Requests</title>
        <link href = "css/bootstrap.min.css" rel = "stylesheet">
        <link href = "styles.css" rel = "stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src = "js/ApproveAccounts.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "navbar navbar-inverse navbar-static-top">

            <div class = "container">


                <div class = "navbar-header">

                    <a href = "#" class = "navbar-brand">High School Planner - Admin</a>

                    <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">

                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>

                    </button>

                </div>


                <div class = "collapse navbar-collapse navHeaderCollapse">

                    <ul class = "nav navbar-nav navbar-right">

                        <li class = "active"><a href = "Admin_Home.jsp">Dashboard</a></li>

                        <!--<li class = "dropdown">
            
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Projects<b class = "caret"></b></a>
                            <ul class = "dropdown-menu" role="menu">
                              <li><a href = "appinventor.html">Dropdown example</a></li>
                            </ul>
            
                        </li>-->

                        <li><a href = "#">Manage Students</a></li>



                    </ul>

                </div>

            </div>

        </div>

        <div class = "container">

            <h1 class = "center">
                Manage Student Accounts
                
            </h1>
            <br>
            <p><br>
                <a href="#">Manage Student Requests</a>
                <br>
                <a href="#">Delete Student Accounts</a>
            </p>
            <button type="button" id='ApproveAll' class="btn btn-danger">Approve all Requests</button>
            <br>
        </div>
        
        <div class="media" style="max-height: 2;overflow-y: scroll;">
            <div class="media-left">
                <a href="#">
                    <img class="media-object"  src="img/profile.png" alt="...">
                </a>
            </div>
            <div class="media-body" class='studentAccount' data-studentId="301">
                <h4 class="media-heading">John Doe</h4>
                <p>Approve? <a class='approveAccountLink' href="#">Yes</a> <a href="#">No</a></p> 
            </div>
            
            <div class="media-left">
                <a href="#">
                    <img class="media-object"  src="img/profile.png" alt="...">
                </a>
            </div>
            <div class="media-body" class='studentAccount' data-studentId="${student.userId}">
                <h4 class="media-heading">John Doe</h4>
                <p>Approve? 
                    <a class='approveAccountLink' href="#">Yes</a> 
                    <a class='deleteAccountLink' href="#">No</a></p> 
            </div>
            
            <div class="media-left">
                <a href="#">
                    <img class="media-object"  src="img/profile.png" alt="...">
                </a>
            </div>
            <div class="media-body" class='studentAccount' data-studentId="303">
                <h4 class="media-heading">John Doe</h4>
                <p>Approve? <a class='approveAccountLink' href="#">Yes</a> <a class='deleteAccountLink' href="#">No</a></p> 
            </div>
            
            <div class="media-left" >
                <a href="#">
                    <img class="media-object"  src="img/profile.png" alt="...">
                </a>
            </div>
            <div class="media-body" class='studentAccount' data-studentId="304">
                <h4 class="media-heading">John Doe</h4>
                <p>Approve? <a class='approveAccountLink' href="#">Yes</a> <a class='deleteAccountLink' href="#">No</a></p> 
            </div>
            
            <div class="media-left" >
                <a href="#">
                    <img class="media-object"  src="img/profile.png" alt="...">
                </a>
            </div>
            <div class="media-body" class='studentAccount' data-studentId="5">
                <h4 class="media-heading">John Doe</h4>
                <p>Approve? <a class='approveAccountLink' href="#">Yes</a> <a class='deleteAccountLink' href="#">No</a></p> 
            </div>
            
        </div>
        <button id="doneManaging" type='button'>Done</button>

        <!--<div class="panel panel-primary">
            <div class="panel-heading">jhdsahfjhdfhs</div>
            <div class="panel-body" style="max-height: 10;overflow-y: scroll;">fdoinfds sdofjohisdfj</div>
        </div>-->

    <!--<div class="loginInfo" style="">
        <form>
            <div class="form-group">
                <label for="inputUsername">Username:</label>
                <input type="text" class="form-control" id="usr" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>-->


    <!--<div class = "navbar navbar-default navbar-static-bottom">

        <div class = "container">

            <p class = "navbar-text pull-left"></p>

        </div>

    </div>-->

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src = "js/boostrap.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
