<<<<<<< HEAD:High School Planner/web/EnterAssigned_Step1.jsp
<%-- 
    Document   : home
    Created on : Mar 24, 2015, 12:23:01 AM
    Author     : tomaszGolebiowski
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Student Home</title>
        <link href = "css/bootstrap.min.css" rel = "stylesheet">
        <link href = "css/styles.css" rel = "stylesheet">
        <link href = "css/Assigned_Schedule.css" rel = "stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src = "js/bootstrap.js"></script>
        <script src = "js/Assigned_Schedule.js"></script>
        <script>
            $(document).ready(Execute);

            function Execute()
            {
                $("#AssignedScheduleLink").click(function ()
                {
                    $(this).next().find("button").show();

                }
                );
            }


        </script>
    </head>
    <body>
        <div style="margin-left:auto; margin-right:auto;">
            <div class = "navbar navbar-inverse navbar-static-top">
                <div class = "container">
                    <div class = "navbar-header">

                        <a href = "Student_Home.html" class = "navbar-brand">High School Planner</a>
                        <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                            <span class = "icon-bar"></span>
                        </button>

                    </div>


                    <div class = "collapse navbar-collapse navHeaderCollapse">
                        <ul class = "nav navbar-nav navbar-right">
                            <li><a href = "Student_Home.html">Dashboard</a></li>
                            <li><a id="AssignedScheduleLink" href = "#">Assigned Schedule</a>

                                <div>
                                    <a href="EnterAssigned_Step1.jsp">
                                        <button type="button" id="EnterCoursesButton" class="btn btn-default" style="background: #222;
                                                float: left;
                                                color: #adadad;
                                                border: none;
                                                margin-left: -7px;display:none">View Assigned Schedule</button></a>
                                    <a href="ViewScheduleServlet"><button type="button" id="EnterCoursesButton" class="btn btn-default"  style="background: #222;
                                                                          float: left;
                                                                          margin-top: 39px;
                                                                          margin-left: -177px;
                                                                          color: #adadad;
                                                                          border: none;display:none;">Enter Assigned Schedule</button></a>
                                </div>
                            </li>
                            <li><a href = "#">Desired Schedule</a>

                            </li>
                            <li><a href = "#">View Friends</a></li>
                            <li><a href = "Friend_Request.html">Send Friend Request</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <form class="form-horizontal">
                <div class="form-group">
                    <label>Select School:</label>
                    <select>
                        <option>School A</option>
                        <option>School B</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Year:</label>
                    <select>
                        <option>2015</option>
                        <option>2014</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Semester:</label>
                    <select>
                        <option>Fall '15</option>
                        <option>Spring '15</option>
                    </select>
                    <label> to </label>
                    <select>
                        <option>Fall '15</option>
                        <option>Spring '15</option>
                    </select>
                </div>
                <button type="button" id="EnterCoursesButton" class="btn btn-default">
                    Enter Courses</button>
                <div class="Class_Info_Section" style="display:none;">
                    <div><p>Course 1:</p>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label>Schedule Block: </label>
                                <select></select>
                            </div>
                            <div class="form-group">
                                <label>Course ID: </label>
                                <input class="form-control" type="text" id="courseID">
                            </div>
                            <div class="form-group">
                                <label>Course Name: </label>
                                <input class="form-control" type="text" id="courseName">
                            </div>
                            <div class="form-group"><label>Instructor Name: </label>
                                <input class="form-control" type="text" id="instructorName">
                            </div>
                    </div>
                </div>

                <button type="submit"></button>
            </form>
        </div>
    </body>
</html>
=======
<%-- 
    Document   : home
    Created on : Mar 24, 2015, 12:23:01 AM
    Author     : tomaszGolebiowski
--%>

<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Student Home</title>
		<link href = "css/bootstrap.min.css" rel = "stylesheet">
        <link href = "css/styles.css" rel = "stylesheet">
		<link href = "css/Assigned_Schedule.css" rel = "stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src = "js/bootstrap.js"></script>
		<script src = "js/Assigned_Schedule.js"></script>
                <script>
                    $(document).ready(Execute);
           
    function Execute()
    {
        $("#AssignedScheduleLink").click(function()
                {
                    $(this).next().find("button").show();
                    
                }        
                );
    }
    
                    
                </script>
    </head>
	<style>
	body {
		margin-left:auto;
		margin-right:auto;
		width:80%;
	}
	</style>
    <body>
          <div style="margin-left:auto; margin-right:auto;">
		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">

                    <a href = "Student_Home.html" class = "navbar-brand">High School Planner</a>
                    <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                        <span class = "icon-bar"></span>
                    </button>
					
                </div>


                <div class = "collapse navbar-collapse navHeaderCollapse">
                    <ul class = "nav navbar-nav navbar-right">
                        <li><a href = "Student_Home.html">Dashboard</a></li>
                        <li><a id="AssignedScheduleLink" href = "#">Assigned Schedule</a>
                            
                            <div>
                                <a href="EnterAssigned_Step1.jsp">
                            <button type="button" id="EnterCoursesButton" class="btn btn-default" style="background: #222;
  float: left;
  color: #adadad;
  border: none;
  margin-left: -7px;display:none">View Assigned Schedule</button></a>
                                <a href="ViewScheduleServlet"><button type="button" id="EnterCoursesButton" class="btn btn-default"  style="background: #222;
  float: left;
  margin-top: 39px;
  margin-left: -177px;
  color: #adadad;
  border: none;display:none;">Enter Assigned Schedule</button></a>
                            </div>
                        </li>
                        <li><a href = "#">Desired Schedule</a>
                       
                        </li>
			<li><a href = "#">View Friends</a></li>
			<li><a href = "Friend_Request.html">Send Friend Request</a></li>
                    </ul>
                </div>
            </div>
        </div>
		
		<form class="form-horizontal">
			<div class="form-group">
				<label>     Select School:</label>
				<select>
					<option>School A</option>
					<option>School B</option>
				</select>
			</div>
			<div class="form-group">
				<label>    Select Year:</label>
				<select>
					<option>2015</option>
					<option>2014</option>
				</select>
			</div>
			<div class="form-group">
				<label>    Select Semester:</label>
				<select>
					<option>Fall '15</option>
					<option>Spring '15</option>
				</select>
				<label> to </label>
				<select>
					<option>Fall '15</option>
					<option>Spring '15</option>
				</select>
			</div>
			<button type="button" id="EnterCoursesButton" class="btn btn-default">Enter Courses</button>
		
        
        <div class="Class_Info_Section" style="display:none;">

                <div><p>Course 1:</p><form class="form-horizontal"><div class="form-group"><label>Schedule Block: </label><select><option>Period 1,Day 1</option><option>Period 2,Day 1</option><option>Period 3,Day 1</option><option>Period 4,Day 1</option><option>Period 5,Day 1</option><option>Period 6,Day 1</option><option>Period 7,Day 1</option><option>Period 1,Day 2</option><option>Period 2,Day 2</option><option>Period 3,Day 2</option><option>Period 4,Day 2</option><option>Period 5,Day 2</option><option>Period 6,Day 2</option><option>Period 7,Day 2</option><option>Period 1,Day 3</option><option>Period 2,Day 3</option><option>Period 3,Day 3</option><option>Period 4,Day 3</option><option>Period 5,Day 3</option><option>Period 6,Day 3</option><option>Period 7,Day 3</option><option>Period 1,Day 4</option><option>Period 2,Day 4</option><option>Period 3,Day 4</option><option>Period 4,Day 4</option><option>Period 5,Day 4</option><option>Period 6,Day 4</option><option>Period 7,Day 4</option></select></div><div class="form-group"><label>Course ID: </label><input class="form-control" type="text" id="courseID"></div><div class="form-group"><label>Course Name: </label><input class="form-control" type="text" id="courseName"></div><div class="form-group"><label>Instructor Name: </label><input class="form-control" type="text" id="instructorName"></div>
                    
                   </div>
        </div>
        
                        
</form>
                </div>
    </body>
</html>
>>>>>>> dbdea31e3ce5588e68cc8f59cb1e8a720b9f6087:High School Planner/web/old/EnterAssigned_Step1.html
