/*.jumbotron{
  background-image: url('jumboImg/cropped.jpg');
  height: 350px;
  padding-bottom: 10px;
}

.jumbotron h2{
  color: white;
  font-size: 50px;
  vertical-align: bottom;
}*/

.body {
  padding-bottom: 550px;
  bottom: 50px;
}

h1.center { text-align: center; }

div.loginInfo{
    width : 50% !important;
    margin-left: auto;
    margin-right: auto;
}