 <head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Request Schedule</title>
		<link href = "css/bootstrap.min.css" rel = "stylesheet">
        <link href = "css/styles.css" rel = "stylesheet">
		<link href = "css/Request_Schedule.css" rel = "stylesheet">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script src = "js\bootstrap.js"></script>
    </head>
    <body>
		<div class = "navbar navbar-inverse navbar-static-top">
			<div class = "container">
				<div class = "navbar-header">

                    <a href = "Student_Home.html" class = "navbar-brand">High School Planner</a>
                    <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                        <span class = "icon-bar"></span>
                    </button>
					
                </div>


                <div class = "collapse navbar-collapse navHeaderCollapse">
                    <ul class = "nav navbar-nav navbar-right">
                        <li><a href = "Student_Home.html">Dashboard</a></li>
                        <li><a href = "#">Assigned Schedule</a></li>
						<li class = "active"><a href = "Desired_Schedule.html">Desired Schedule</a></li>
						<li><a href = "#">View Friends</a></li>
						<li><a href = "Friend_Request.html">Send Friend Request</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="DesiredScheduleBlock">
            <div id="PreferredCourses">
                <div id="courses">
                    <div class="CourseDetails">
                        <span>
                             <label>Courses: </label>
                             <input name="CourseNames" type="text">
                        </span>
                        <div>
                             <label>Exclude Sections:</label>
                             <input name="ExcludeSections" type="checkbox">Section 1</input>
                             <input name="ExcludeSections" type="checkbox">Section 2</input>
                             <input name="ExcludeSections" type="checkbox">Section 3</input>
                             <input name="ExcludeSections" type="checkbox">Section 4</input>
                             <input name="ExcludeSections" type="checkbox">Section 5</input>
                        </div>
                        <div>
                             <label>Preferred Instructor: </label>
                             <input type="text" name="PreferredInstructor">
                        </div>
                    </div>
                </div>
                <button id="PlusButton" type="button">+</button>
                <div id="LunchPreferred">
                    <label>Lunch</label>
                     <form class="form-inline" role="form">
                        <label id="Monday">Monday: </label>
                        <select class="form-control">
                             <option value="P1D1">Period 1, Day 1</option>
                             <option value="P1D2">Period 1, Day 2</option>
                             <option value="P2D1">Period 2, Day 1</option>
                             <option value="P2D2">Period 2, Day 2</option>
                        </select>
                    </form>
                    <form class="form-inline" role="form">
                        <label id="Tuesday">Tuesday: </label>
                        <select class="form-control">
                             <option value="P1D1">Period 1, Day 1</option>
                             <option value="P1D2">Period 1, Day 2</option>
                             <option value="P2D1">Period 2, Day 1</option>
                             <option value="P2D2">Period 2, Day 2</option>
                        </select>
                   </form>
                    <form class="form-inline" role="form">
                        <label id="Wednesday">Wednesday: </label>
                        <select class="form-control">
                             <option value="P1D1">Period 1, Day 1</option>
                             <option value="P1D2">Period 1, Day 2</option>
                             <option value="P2D1">Period 2, Day 1</option>
                             <option value="P2D2">Period 2, Day 2</option>
                        </select>
                    </form>
                    <form class="form-inline" role="form">
                        <label id="Thursday">Thursday: </label>
                        <select class="form-control">
                             <option value="P1D1">Period 1, Day 1</option>
                             <option value="P1D2">Period 1, Day 2</option>
                             <option value="P2D1">Period 2, Day 1</option>
                             <option value="P2D2">Period 2, Day 2</option>
                        </select>
                    </form>
                   <form class="form-inline" role="form">
                        <label id="Friday">Friday: </label>
                        <select class="form-control">
                             <option value="P1D1">Period 1, Day 1</option>
                             <option value="P1D2">Period 1, Day 2</option>
                             <option value="P2D1">Period 2, Day 1</option>
                             <option value="P2D2">Period 2, Day 2</option>
                        </select>
                    </form>
                </div>
                
                
            </div>
           <div class="btn-group">
				<button type="button" class="btn btn-primary">Generate Schedule</button>
				<button type="button" class="btn btn-primary">Remove</button>
			</div>
        </div>
    </body>